/__tests__
/android/.gradle/8.14.1/checksums
/android/.gradle/8.14.1/executionHistory
/android/.gradle/8.14.1/fileChanges
/android/.gradle/8.14.1/fileHashes
/android/.gradle/8.14.1
/android/.gradle/buildOutputCleanup
/android/.gradle
/android/app/.cxx/Debug/534j6q54/arm64-v8a/.cmake/api/v1/query/client-agp
/android/app/.cxx/Debug/534j6q54/arm64-v8a/.cmake/api/v1/reply
/android/app/.cxx/Debug/534j6q54/arm64-v8a
/android/app/.cxx/Debug/534j6q54/armeabi-v7a/.cmake/api/v1/query/client-agp
/android/app/.cxx/Debug/534j6q54/armeabi-v7a/.cmake/api/v1/reply
/android/app/.cxx/Debug/534j6q54/armeabi-v7a
/android/app/.cxx/Debug/534j6q54
/android/app/.cxx/RelWithDebInfo/1u6342t3/arm64-v8a/.cmake/api/v1/query/client-agp
/android/app/.cxx/RelWithDebInfo/1u6342t3/arm64-v8a/.cmake/api/v1/reply
/android/app/.cxx/RelWithDebInfo/1u6342t3/arm64-v8a
/android/app/.cxx/RelWithDebInfo/1u6342t3/armeabi-v7a/.cmake/api/v1/query/client-agp
/android/app/.cxx/RelWithDebInfo/1u6342t3/armeabi-v7a/.cmake/api/v1/reply
/android/app/.cxx/RelWithDebInfo/1u6342t3/armeabi-v7a
/android/app/.cxx/RelWithDebInfo/1u6342t3
/android/app/.cxx/tools/debug/arm64-v8a
/android/app/.cxx/tools/debug/armeabi-v7a
/android/app/.cxx/tools/debug/x86
/android/app/.cxx/tools/debug/x86_64
/android/app/.cxx/tools/release/arm64-v8a
/android/app/.cxx/tools/release/armeabi-v7a
/android/app/.cxx/tools/release/x86
/android/app/.cxx/tools/release/x86_64
/android/app/build/generated/assets/createBundleReleaseJsAndAssets
/android/app/build/generated/autolinking/src/main/java/com/facebook/react
/android/app/build/generated/autolinking/src/main/jni
/android/app/build/generated/res/createBundleReleaseJsAndAssets/drawable-mdpi
/android/app/build/generated/res/createBundleReleaseJsAndAssets/drawable-xhdpi
/android/app/build/generated/res/createBundleReleaseJsAndAssets/drawable-xxhdpi
/android/app/build/generated/res/createBundleReleaseJsAndAssets/drawable-xxxhdpi
*.xml
/android/app/build/generated/source/buildConfig/debug/com/gameproject
/android/app/build/generated/source/buildConfig/release/com/gameproject
/android/app/build/generated/sourcemaps/react/release
/android/app/build/intermediates/annotation_processor_list/debug/javaPreCompileDebug
/android/app/build/intermediates/annotation_processor_list/release/javaPreCompileRelease
/android/app/build/intermediates/apk_ide_redirect_file/debug/createDebugApkListingFileRedirect
/android/app/build/intermediates/apk_ide_redirect_file/release/createReleaseApkListingFileRedirect
/android/app/build/intermediates
/android/app/build
/android/build
/android/gradle
android/gradlew.bat
/ios
/node_modules
/vendor/bundle
